.chatLeftSide{
    background: rgba(173, 223, 255, 0.47);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
}

.chatListTopic h1{
    font-family: Inter;
    font-size: 1.7em;
    font-weight: 650;
    margin: 1.975em 0 0 0;
    color: darkslateblue;
}

.chatList{
    margin: 3em 0 0 0;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.71);
}

.chatRightSide{

}

