.loginOuter{
    width: 100%;
    height: 100%;
}

.loginAnimation{
    height: 100%;
}

.loginForm{
    background-color: aliceblue;
}

.loginFormText{
    margin: 3.5em 0 1em 0;
}

.signupFormTopic h1{
    font-family: Inter;
    color: #6CD2D3;
    font-size: 2.5em;
}

.signupFormTopic p{
    font-family: Inter;
    line-height: 1.5;
}

.signUpLink p{
    font-family: Inter;
    margin: 0 0.275em 0 0;
}


